body{
  clear: both;
}
::selection{
  color:#00ff88;
}
.ui {
  background: #edd710; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91fb6a,
    #e206af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c86afb,
    #5ce9fc
  ); 
}
